# -----------------------------------------------------------------------------
# Python
# -----------------------------------------------------------------------------

__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Testing & Coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Build
build/
dist/

# IDE
.idea/
.vscode/

# Operating System
.DS_Store
Thumbs.db
